body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #525252;
}
a.adv:link {text-decoration: none;}
a.adv:hover {text-decoration: none;}
a.adv:visited {text-decoration: none;}

td, textarea, input, select {
	font-family: Tahoma;
	font-size: 10px;
	color: 949494;
	font-weight: normal;
}
.tableDetail {
	font-size: 10px;
	font-family: Verdana;
	color: #49394E;
}
a:link {
	color: #93b750;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;

}
a:hover {
	color: #0F8BBF;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	border: thin none #FFFFFF;
	text-decoration: underline;
}
a:visited {
	color: #93b750;
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;

}

.text1 {
	font-family: tahoma;
	font-size: 10px;
	color: 0F8BBF;
	font-weight: bold;
}
.text2 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 93B750;
}
.text3 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 93B750;
}
.text4 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 323838;
}
.text5 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 323838;
}
.text6 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 949494;
}
.text7 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.text8 {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 94AEC5;
}
.text9 {


	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.frame {
	border: 1px solid #0F8BBF;
}
.designed_by {
	font-family: Arial;
	font-size: 8.5px;
	font-weight: lighter;
	color: #000000;
}
a.a:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 0F8BBF;
}
a.a:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #93B750;
}
a.a:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 0F8BBF;
}
a.b:link {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: FF8112;
	text-decoration: underline;
}
a.b:hover {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
}
a.b:visited {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #ff8112;
	text-decoration: underline;
}
a.c:link {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: C4D356;
	text-decoration: underline;
}
a.c:hover {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
}
a.c:visited {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: C4D356;
	text-decoration: underline;
}
a.d:link {



	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #33485d;
	text-decoration: underline;
}
a.d:hover {


	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #E4141A;
	text-decoration: underline;
}
a.d:visited {


	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
a.e:link {

	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 944F23;
	text-decoration: underline;
}
a.e:hover {

	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #4E4E4E;
	text-decoration: underline;
}
a.e:visited {

	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: 944F23;
	text-decoration: underline;
}
a.f:link {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 594B13;
	text-decoration: underline;
}
a.f:hover {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #4E4E4E;
	text-decoration: underline;
}
a.f:visited {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: 594B13;
	text-decoration: underline;
}
a.g:link {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.g:hover {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a.g:visited {

	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.inputstyle {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #5F726F;
	background-color: #E2EDEB;
	border: 1px solid #333333;
}
